
.fa.fa-user{
    display: grid;
    justify-content: center;
    font-size: 60px;
    color: white;
    
}
.fa.fa-bars{
    display: grid;
    justify-content: end;
    font-size: 40px;
    margin-top: -120px;
    color: white;
    float: right;
    padding-right: 50px;
    
}
/* body{
    background-color: rgb(26, 68, 145)